Whiskey is a Markdown text editor for Mac. It will work *neat* (plain Gruber style) or *on the rocks* (with extensions).

I have *lots* I want to do with this app. Stay tuned. Please send feedback to <a class="autolink" href="mailto:sam@nothingmagical.com">sam@nothingmagical.com</a>.

==[Download <%= @version_title %>](/latest) to try Whiskey.==

Read the [release notes](/release-notes) for recent changes.

---

## Features

Check out the [video demos](http://vimeo.com/album/3108294) for quick neat things Whiskey can do. The [release notes](/release-notes) are also a good place to look. Here's a brief list of some highlights:

* Rich text for most of core Markdown
* Some support for Markdown extensions
* ⌘-click links or images to open them
* Printing
* Outline view. Press ⇧⌘O to toggle. Click an item in the outline to jump to it.
* Indent and unindent. Press ⌘[ and ⌘].
* Word wrap toggle. Press ⌥⌘W
* Context aware smart quotes and smart dashes


## Future Features

* HTML export
* Keyboard shortcuts for the find bar
* QuickLook the document as HTML
* Disable spell check in code blocks

Thanks for checking out the Whiskey beta. Please send feedback to <a class="autolink" href="mailto:sam@nothingmagical.com">sam@nothingmagical.com</a>.

— [Sam](http://soff.es)
