<h1>Whiskey</h1>

<p>Whiskey is a Markdown text editor for Mac. It will work "neat" (plain Gruber style) or "on the rocks" (with extensions).</p>

<p>I have lots I want to do with this app. Stay tuned. (Please don't share this link.)</p>

<p><a href="https://whiskey-app.s3.amazonaws.com/builds/Whiskey-<%= @version %>.zip">Download <%= @version_title %></a></p>

<p>&mdash; <a href="http://soff.es">Sam</a></p>
