<h1>Whiskey</h1>

<p>Whiskey is a Markdown text editor for Mac. It will work <em>neat</em> (plain Gruber style) or <em>on the rocks</em> (with extensions).</p>
<p>I have lots I want to do with this app. Stay tuned. (Please don't share this link.)</p>
<p><a href="/latest">Download <%= @version_title %></a> <a href="/release-notes">Changelog</a></p>
<p>&mdash; <a href="http://soff.es">Sam</a></p>
