<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Whiskey</title>
  <link rel="me" href="http://www.google.com/profiles/samsoffes">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/619254/736584/css/fonts.css">
  <link rel="stylesheet" href="/assets/home.css">
</head>
<body>
  <img src="/assets/icon-256@2x.png" alt="Whiskey Icon">

  <h1>Whiskey</h1>
  <p>A modern Markdown app from <a href="http://nothingmagical.com" rel="external nofollow" target="_blank">Nothing Magical</a> for Mac &amp; iOS.</p>
  <p>Coming soon.</p>

  <form action="http://nothingmagical.createsend.com/t/j/s/oddtry/" method="post">
    <p><input name="cm-oddtry-oddtry" type="email" placeholder="your@email.com" required></p>
    <p><button type="submit">Get Notified</button></p>
  </form>

  <% if ENV['RACK_ENV'] == 'production' %>
  <script>var _gauges=_gauges||[];(function(){var t=document.createElement('script');t.async=true;t.id='gauges-tracker';t.setAttribute('data-site-id','52fe886cde2e266c9f002e21');t.src='//secure.gaug.es/track.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(t,s);})();</script>
  <% end %>
</body>
</html>
