<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Whiskey</title>
  <link rel="me" href="http://www.google.com/profiles/samsoffes">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/application.css">
</head>
<body<%= @is_sparkle ? ' class="sparkle"' : '' %>>
  <% unless @is_sparkle %>
  <h1><a href="/" rel="home">Whiskey</a></h1>
  <% end %>
  <%= yield %>
</body>
</html>
