<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Whiskey</title>
  <link rel="me" href="http://www.google.com/profiles/samsoffes">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/assets/markdown.css">
  <link rel="author" type="text/plain" href="/humans.txt">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
</head>
<body<%= @is_sparkle ? ' class="sparkle"' : '' %>>
  <% unless @is_sparkle %>
  <h1><a href="/" rel="home">Whiskey</a></h1>
  <% end %>
  <%= yield %>
  <% if ENV['RACK_ENV'] == 'production' %>
  <script>var _gauges=_gauges||[];(function(){var t=document.createElement('script');t.async=true;t.id='gauges-tracker';t.setAttribute('data-site-id','52fe886cde2e266c9f002e21');t.src='//secure.gaug.es/track.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(t,s);})();</script>
  <% end %>
</body>
</html>
