<% @versions.each do |item| %>
<% next if @version > 0 && item.css('enclosure').first['sparkle:version'].to_i > @version %>
<h3><%= item.css('title').inner_text %></h3>
<%= item.at_xpath('.//description').inner_text %>
<hr>
<% end %>
