/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* stylelint-disable order/properties-alphabetical-order */
/* stylelint-enable */
html {
  -webkit-font-smoothing: antialiased;
  background: #2d2725; }

body {
  color: #fee9c1;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  width: 300px;
  margin: 2em auto;
  line-height: 1.2em; }

a {
  color: #fee9c1;
  text-decoration: none;
  border-bottom: 1px solid rgba(253, 232, 195, 0.5); }
  a:hover {
    border-bottom: 1px solid; }

img {
  width: 256px;
  height: 256px;
  margin-bottom: 2em; }

h1 {
  font-weight: 600;
  font-size: 64px;
  margin-bottom: 1em; }

p {
  margin-bottom: 1.2em; }

form {
  margin-top: 2em; }

input {
  box-sizing: border-box;
  background: #f6e8e3;
  border: 0;
  border-radius: 5px;
  padding: 5px;
  width: 300px;
  height: 44px;
  outline: 0;
  border: 2px solid transparent;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #333;
  text-align: center; }
  input:focus {
    border: 2px solid #ecc171; }

button {
  background: #e88237;
  padding: 10px 15px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 600;
  font-size: 18px;
  border: 0;
  border-radius: 5px;
  color: #fff; }
